{{ partial "header.html" . }}
<div class="main-header" style='margin-bottom: 100px;'>
  <header class="grid">
    <div class="row">
      <div class="col col-12-of-12 col-m-4-of-4 xxx-text-center">
        <a class="logo-img" href="{{ .Site.BaseURL }}"><img src="img/logos/logo-bw.png" style="height: 100px; opacity: 0.72"> </a>
        <h1 class="heading">
         {{ .Site.Params.mainBlurb | safeHTML }}
        </h1>
        <h3 class="blurb">
          {{ .Site.Params.secondaryBlurb | safeHTML }}
        </h3>
          <!-- {{ range .Site.Params.features }} 
            <h3 class='heading-3'>{{.name}}</h3>
            <p>{{.blurb}}</p>
          {{end}}  -->
      </div>
    </div>
  </header>
</div>
<!-- <div class="blue-bg">
  <div class="grid section-block">
    <div class="row">
      <div class="col col-12-of-12 col-m-8-of-8 card card-3 text-center" style="padding-bottom: 70px;">
        <h2 class="subheading text-center">
          <i class='fa fa-terminal' style='color:#585858'></i>
          <br>
          <br>
          For Developers
        </h2>
        <p>
          1. Grab the code from <strong><a href='https://github.com/speckleworks'>SpeckleWorks</a>.</strong>
        </p>
        <p>
          2. Read the <strong><a href='https://speckleworks.github.io/SpeckleOpenApi/'>Api Docs</a></strong>.
        </p>
        <p>
          3. Start hacking & <strong><a href='https://slacker.speckle.works'>slacking</a>!</strong>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div class="grid section-block">
  <div class="row">
    <div class="col col-12-of-12">
      <h2 class="heading-2">
        <strong><a href='/log/'>Log</a></strong>: Latest news and gossip on Speckle.
      </h2>
    </div>
    {{- range first 10 ( where .Data.Pages.ByDate.Reverse "Section" "log") }}
    <div class="col col-6-of-12 col-m-4-of-4">
      <h4 class="">
        {{ if or (isset .Params "featureclass")}}
          <i class='fa fa-star' style='color: #0080FF'></i>
        {{ end }}
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h4>
      <small>Posted on {{ .Date.Format "Mon, Jan 2, 2006" }}</small>
      <p>
        <i><small>{{ .Params.description }}</small></i>
      </p>
    </div>
    {{- end }}
    <div class="col col-6-of-12 col-m-4-of-4">
      <p class="">
        <br>
        <a href="/log/">More news</a>
      </p>
    </div>
  </div>
</div>
<!-- <hr> -->
<!-- <div class="grid section-block">
  <div class="row">
    <div class="col col-12-of-12">
      <h2 class="heading-2">
        <strong><a href='/doc/'>Docs</a></strong>: Assorted Knowledge
      </h2>
    </div>
  </div>
</div> -->
<!-- <div class="grid">
  <div class="row">
    {{- range first 4 (where .Data.Pages.ByDate.Reverse "Section" "doc") }}
    <div class="col col-6-of-12 col-m-4-of-4 card card-2 card-xx list-card">
        <h3 class="">
        {{ if or (isset .Params "featureclass")}}
          <i class='fa fa-star' style='color: #0080FF'></i>
        {{ end }}
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h3>
        <p><small>Posted on {{ .Date.Format "Mon, Jan 2, 2006" }} | {{ .ReadingTime }} min read
        <br><i>{{ .Params.description }}</i><br><a href="{{ .Permalink }}">Read more...</a>
        </small>
        </p>
    </div>
    {{- end }}
    <div class="col col-12-of-12 col-m-4-of-4">
      <div class="row">
        <div class='col col-6-of-12 col-m-4-of-4'>
          <a href="/doc/">More docs</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<br>
<hr>
<div class="grid">
  <div class="row">
    <div class="col col-12-of-12">
      <h3 class="heading-2">
        <a href="/about">About: People, Academia & Industry</a>
      </h3>
      <p class="paragraph">
        Speckle is growing out of research undertaken at UCL The Bartlett and InnoChain as an ecosystem of software tools that aims to enable enable a flexible data rich desigpn workflow between any stakeholders of any industry, thus allowing for a richer and more productive design environment. <a href="/about">Read more.</a>
      </p>
      <br>
      <br>
      <br>
      <br>
      <p class="paragraph text-center">
        <img src="img/partners/allparts.png" style="max-height:140px;" alt="">
        <br>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}